main {
  margin:2rem 0;
}

.sortable {
  
  &.empty {
    min-height:100px;
    background:#f8f8f8;
    
    &:after {
      text-align:center;
      line-height:100px;
      content:'- leer -';
      color:#999;
    }
    
  }
  
}

.optional {
  opacity:.5;
}